@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularXXWeb-Book.woff2') format('woff2'),
        url('../fonts/CircularXXWeb-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // unicode-range: U+000-5FF; /* Latin glyphs */
    font-display: block;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularXXWeb-Bold.woff2') format('woff2'),
        url('../fonts/CircularXXWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    // unicode-range: U+000-5FF; /* Latin glyphs */
    font-display: block;
}
