.page-header {
  padding-top: $header-top-margin;

  @include media-breakpoint-up (sm) {
    padding-top: $header-top-margin-sm;
  }
}

.page-header--home {
  padding-top: $header-top-margin * 0.75;

  @include media-breakpoint-up (sm) {
    padding-top: $header-top-margin-sm * 0.75;
  }
}

.header-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: $spacer;
}

.page-header--ml {
  @include fluidMl;
}


.header-button {
  padding-top: $spacer;
}
