<div class="debug-grid">
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
  <div class="debug-grid-col"></div>
</div>
