<div class="sidebar-top-spacer">

</div>
<div class="sidebar-content reveal-right">
  <button class="sidebar-toggler" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
    <svg width="25px" height="22px" viewBox="0 0 25 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="black" fill-rule="evenodd">
            <path d="M0,0 L25,0 L25,2 L0,2 L0,0 Z M0,10 L25,10 L25,12 L0,12 L0,10 Z M0,20 L25,20 L25,22 L0,22 L0,20 Z" id="Fill-1" fill="#000000"></path>
        </g>
    </svg>
  </button>
  <div class="sidebar-brand">
      {% include "partials/logo.twig" %}
  </div>
  {# <div class="sidebar-lang">
    <a href="#">EN</a>
  </div> #}
</div>
