<!-- Slider Gallery-->
<section class="flModule">
  <div class="mb-5 iframe {{flexblock.bgColor.value}}">
    <div class="container py-5">
      {{flexblock.title}}
      <div class="row no-gutters py-3">
        <div class="col-12">
          {{flexblock.iframeCode}}
        </div>
      </div>
    </div>
  </div>
</section>
