<section class="flModule">
  <div class="{{flexblock.bgColor.value}}">
    <div class="container reveal-soft block-text flModule-spacer">
      <div class="row">
        <div class="col-md-6 wysiwyg-txt">
          {% if flexblock.text1 %}
            {{ flexblock.text1 }}
          {% endif %}
        </div>
        <div class="col-md-6 wysiwyg-txt">
          {% if flexblock.text2 %}
            {{ flexblock.text2 }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
