<section class="flModule reveal-soft">
  <div class="container block-text flModule-spacer">
    <div class="row">
      <div class="col-md-8">
        {% if flexblock.text %}
          {{ flexblock.text }}
        {% endif %}
      </div>
    </div>
  </div>

</section>
