<section class="flModule reveal-soft">
  <div class="container block-text flModule-spacer">
    <div class="row">
      <div class="col-md-4 wysiwyg-txt">
        {% if flexblock.text1 %}
          {{ flexblock.text1 }}
        {% endif %}
      </div>
      <div class="col-md-4 wysiwyg-txt">
        {% if flexblock.text2 %}
          {{ flexblock.text2 }}
        {% endif %}
      </div>
      <div class="col-md-4 wysiwyg-txt">
        {% if flexblock.text3 %}
          {{ flexblock.text3 }}
        {% endif %}
      </div>
    </div>
  </div>

</section>
