// Circles
.half-circle {
  position: relative;
}

.half-circle::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 50vw;
}

.half-circle-top::before {
    top: 0;
    background-color: gold;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.half-circle-bottom::before {
    bottom: 0;
    background-color: gold;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.half-circle-white::before {
  background-color: $white;
}

.half-circle-yellow::before {
  background-color: $yellow;
}

.half-circle-blue::before {
  background-color: $blue;
}

.half-circle-brown::before {
  background-color: $brown;
}

// Xs half circle
.half-circle-xs {
  position: relative;
}

.half-circle-xs::before {

  @include media-breakpoint-down (sm) {
    content: "";
    position: absolute;
    width: 100vw;
    height: 50vw;
  }
}

.half-circle-top-xs::before {

  @include media-breakpoint-down (sm) {
    top: 0;
    background-color: $white;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}
